<header class="nav_bar">
  <div class="inline_el">
    <div>
      <a routerLink="">Project</a>
    </div>

    <div>
      <ul class="inline_el">
        <li><a routerLink="/about" routerLinkActive="active" >About</a></li>
        <li><a routerLink="/posts" routerLinkActive="active" >Posts</a></li>
        <li><a routerLink="/info" routerLinkActive="active" >Info</a></li>
      </ul>
    </div>
  </div>
  </header>

  <main>
    <div class="background_image"></div>
    <router-outlet></router-outlet>
  </main>

  <footer>

  </footer>
