h2{
  margin: 0;
}

p{
  color:white;
}
.btn{
  border-radius:0;
  background-color: white;
  padding: 12px;
  font-size: 1.1rem;
  color: grey;
  border: 2px solid darkgrey;
  margin-bottom:1.2rem;
  margin-top: 1.2rem;
  cursor: pointer;
}
.btn:focus{
  outline: none;
}

.btn:hover{
  color:black;
  background: white;
}

.input_el{
  width: 100%;
  height: 4vh;
  margin: 0.5rem 0;
}
.add_post{
  margin-top: 1.3rem;
  text-align: center;
  width: 100%;
}

.show_posts{
  width: 80vw;
  margin: 0 auto;
}

.posts{
  background: rgba(255,255,255,0.4);
}

.posts p{
  padding: 5px;
}

.btn_create{
  display: flex;
  margin-left: auto;
  margin-right: 0;

}
